<section class="main">
  <div class="container">
    <div class="main-info" id="navigate-pizzas">
      <h1 class="double-title">
        Самая вкусная пицца в мире <span>только в Pizza Cheff</span>
      </h1>
      <div class="main-advantages">
        <div class="advantage">
          <div class="advantage-image">
            <img alt="Hop" src="assets/images/hop.png">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Лучшее тесто</div>
            <div class="advantage-description">
              Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img alt="Kitchen-pack" src="assets/images/kitchen-pack.png">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Лучшие повара</div>
            <div class="advantage-description">
              Пиццы готовят самые профессиональные итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img alt="Seo and web" src="assets/images/seo-and-web.png">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Гарантия качества</div>
            <div class="advantage-description">
              Наша пиццерия получила множество наград и признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img alt="Holidays" src="assets/images/holidays.png">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Отборные рецепты</div>
            <div class="advantage-description">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main-action">
        <button class="btn" (click)="scrollTo(productsElement)">Выбрать пиццу</button>
      </div>
    </div>
    <div class="main-image">
      <img alt="Big pizza" src="assets/images/pizza_big.png">
    </div>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title" id="products-title">Выберите свою любимую пиццу </h2>
    <div class="products-items">
      <div class="product" *ngFor="let product of products; let i = index;">
        <div class="product-image">
          <img alt="Product pizza {{i+1}}" src="assets/images/products/{{product.image}}">
        </div>
        <div class="product-title">{{ product.title }}</div>
        <div class="product-text">{{ product.description }}
        </div>
        <div class="product-action">
          <button class="btn btn-add-to-cart" (click)="addToCart(product, orderElement)">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-text" id="navigate-delivery">
      <div class="order-text-title double-title">
        <span>Хватит думать!</span> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form">
      <input class="order-input" id="product-input" placeholder="Пицца" type="text" [(ngModel)]="formValues.productTitle">
      <input class="order-input" id="address-input" placeholder="Адрес доставки" type="text" [(ngModel)]="formValues.address">
      <input class="order-input" id="phone-input" placeholder="Телефон" type="text" [(ngModel)]="formValues.phone">
      <button class="btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image">
      <img alt="Pizza" src="assets/images/pizzzzza.png">
    </div>
  </div>
</section>
